[submodule "sublime-text-3/Packages/EasyClangComplete"]
	path = sublime-text-3/Packages/EasyClangComplete
	url = https://github.com/niosus/EasyClangComplete.git
[submodule "sublime-text-3/Packages/Pylinter"]
	path = sublime-text-3/Packages/Pylinter
	url = https://github.com/biermeester/Pylinter.git
[submodule "sublime-text-3/Packages/pythonpep8autoformat"]
	path = sublime-text-3/Packages/pythonpep8autoformat
	url = https://github.com/Stibbons/pythonpep8autoformat.git
[submodule "sublime-text-3/Packages/GitGutter"]
	path = sublime-text-3/Packages/GitGutter
	url = https://github.com/jisaacks/GitGutter.git
