[submodule "sublime-text-3/Packages/EasyClangComplete"]
	path = sublime-text-3/Packages/EasyClangComplete
	url = https://github.com/niosus/EasyClangComplete.git
[submodule "sublime-text-3/Packages/Pylinter"]
	path = sublime-text-3/Packages/Pylinter
	url = https://github.com/biermeester/Pylinter.git
